nav {
    box-shadow: 5px 5px 5px #eee !important;
  }
  
  .card .top-content a{
    text-decoration: none;
  }
  
  .card .top-content a:hover{
     text-decoration: underline;
  }
  
  body{
    overflow-x: hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  main{
    height: calc(100vh - 100px) !important;
  }

  .side-menu {
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }